@import './assets/reset.css';
@import './assets/fonts.css';

body{
    font-family: 'Tahoma';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    color: #848484;
}

.container{
    max-width: 1035px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

/* header */
.header{
    padding-top: 35px;
}

.header__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__title{
    font-size: 22px;
}

.header__title-link{
    color: #000;
    font-size: 24px;
    transition: all .4s ease;
}

.header__title-link:hover{
    color: #4f66ca;
    transition: all .4s ease;
}

.header__subtitle{
    margin-top: 25px;
    text-align: center;
}
/*  */

/* hobbies */
.hobbies{
    padding: 55px 0;
}

.hobbies__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hobbies__filter-button{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    max-width: 220px;
    width: 100%;

    color: #fff;
    font-size: 22px;
    background: #4f66ca;
    border-radius: 10px;

    margin-bottom: 25px;
    border: 1px solid transparent;
    transition: all .4s ease;

    position: relative;
    cursor: pointer;
}

.hobbies__filter-button:hover{
    color: #4f66ca;
    background: #fff;
    border-color: #4f66ca;
    transition: all .4s ease;
}

.hobbies__filter-button span{
    display: none;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    line-height: 1.2;

    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    background: #ff0000;

    color: #fff;

    position: absolute;
    top: 10px;
    right: 53px;
}

.hobbies__filter-button span.visible{
    display: flex;
}

.hobbies__filter-result{
    margin-bottom: 25px;
}

.hobbies__filter-count{
    color: #000;
}

.hobbies__items{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
}

.hobbies__item{
    height: 200px;
    background-image: url('../images/hobby-block/400.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.hobbies__item-transparency{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;

    width: 100%;
    height: 100%;
    
    background: rgba(255, 255, 255, 0.35);
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
}

.hobbies__item-transparency.visible{
    opacity: 1;
    visibility: visible;
    transition: all .4s ease;
}

.hobbies__item:hover .hobbies__item-button{
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
}

.hobbies__item-linkWrap{
    height: calc(100% - 80px);
}

.hobbies__item-link{
    display: block;
    width: 100%;
    height: 100%;
}

.hobbies__item-contentWrap{
    min-height: 80px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
}

.hobbies__item-title{
    color: #fff;
    font-size: 22px;
    margin-bottom: 5px;
}

.hobbies__item-button{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    margin-left: auto;

    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    cursor: pointer;

    position: relative;
    z-index: 2;
}

.hobbies__show-button{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    max-width: 220px;
    width: 100%;

    font-size: 22px;
    color: #4f66ca;
    border: 1px solid #4f66ca;
    border-radius: 10px;
    transition: all .4s ease;
    cursor: pointer;
}

.hobbies__show-button:hover{
    color: #fff;
    background: #4f66ca;
    transition: all .4s ease;
}
/*  */


/* filter */
.filter{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;

    max-width: 400px;
    width: 100%;
    height: 100vh;

    background: #f5f5f5;
    border-left: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;

    transform: translateX(100%);
    transition: transform .2s ease;
}

.filter__inner{
    height: 660px;
    overflow-y: scroll;
}

.filter.visible{
    transform: translateX(0);
    transition: transform .2s ease;
}

.filter__top-block{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 30px;
    border-bottom: 1px solid #dcdcdc;
}

.filter__title{
    font-size: 22px;
    color: #000;
}

.filter__close-button{
    cursor: pointer;
}

.filter__form-block{
    padding: 20px 30px;
    border-bottom: 1px solid #dcdcdc;
}

.filter__form-block:last-child{
    border: none;
}

.filter__checkboxes{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 20px;
}

.filter__checkbox-label{
    cursor: pointer;
}

.filter__checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.filter__checkbox:checked + .filter__checkbox-value {
    background: #4f66ca;
    color: #fff;
}

.filter__checkbox-value{
    display: inline-block;
    padding: 10px 15px;
    background: #e3e3e3;
    color: #000;
    border-radius: 10px;
    font-size: 16px;
}

.filter__form-blockTitle{
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
}

.filter__form-buttonWrap{
    max-width: 330px;
    width: 100%;
    margin: 0 auto;

    margin-top: 30px;
}

.filter__form-button{
    height: 50px;
    width: 100%;

    font-size: 22px;
    color: #fff;

    background: #4f66ca;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;

    border: 1px solid;
    transition: all .4s ease;
}

.filter__form-button:hover{
    color: #4f66ca;
    background: #fff;
    border-color: #4f66ca;
    transition: all .4s ease;
}
/*  */

/* hobby page */
.hobby{
    padding-top: 50px;
}

.hobby__container{
    max-width: 700px;
}

.hobby__top-block{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.hobby__close-button img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.hobby__title{
    margin: 0 auto;
    font-size: 30px;
    color: #000;
}

.hobby__info{
    padding: 0 0 50px 50px;
}

.hobby__info-block{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.hobby__info-block:last-child{
    margin-bottom: 0;
}

.hobby__info-title{
    color: #000;
    margin-right: 7px;
    font-weight: 700;
}

.hobby__info-value{
    color: #000;
}

.hobby__info-button{
    color: #1965ff;
    text-decoration: underline;
}

.hobby__details{
    margin-bottom: 85px;
}

.hobby__details-image{
    margin-bottom: 50px;
}

.hobby__details-image img {
    width: 100%;
    object-fit: cover;
}

.hobby__details-text{
    margin-bottom: 30px;
    color: #000;
}

.hobby__details-text:last-child{
    margin-bottom: 0;
}

.hobby__discussion{
    margin-bottom: 40px;
}

.hobby__discussion-title{
    font-size: 24px;
    color: #000;
    margin-bottom: 25px;
}

.hobby__discussion-subtitle{
    color: #000;
    margin-bottom: 40px;
}

.hobby__discussion-subtitle a {
    color: #4184ff;
    text-decoration: underline;
}

.hobby__discussion-textareaWrap{
    margin-bottom: 20px;
}

.hobby__discussion-textarea{
    display: block;
    width: 100%;
    min-height: 100px;

    resize: none;
    outline: none;
    border: 1px solid #dfdfdf;
    padding: 18px;

    font-family: 'Tahoma';
    font-size: 16px;
    line-height: 1.2;
    color: #000;
}

.hobby__discussion-button{
    display: block;
    height: 45px;
    width: 155px;

    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    border-radius: 10px;

    background: #4f66ca;
    color: #fff;
    transition: all .4s ease;
}

.hobby__discussion-button:hover{
    background: #fff;
    border-color: #4f66ca;
    color: #4f66ca;
    transition: all .4s ease;
}

.hobby__comment{
    margin-bottom: 30px;
}

.hobby__comment-wrap{
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
}

.hobby__comment-author{
    color: #000;
    margin-right: 8px;
}

.hobby__comment-date{
    color: #898989;
    font-size: 14px;
}

.hobby__comment-text{
    color: #000;
}

.up-button{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 65px;
    height: 65px;

    border-radius: 50%;
    background: #4f66ca;

    position: fixed;
    bottom: 50px;
    right: 17%;
    z-index: 2;
}

.up-button img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
/*  */


@media(max-width: 1024px) {
    .up-button{
        right: 5%;
    }
}

@media(max-width: 768px) {
    /* hobbies */
    .hobbies{
        padding-top: 30px;
    }

    .hobbies__filter-button,
    .hobbies__show-button{
        font-size: 18px;
        max-width: 200px;
    }

    .hobbies__items {
        margin-bottom: 30px;
        grid-template-columns: repeat(2, 1fr);

        max-width: 640px;
    }

    .hobbies__item-title{
        font-size: 20px;
    }

    .hobbies__item-button{
        opacity: 1;
        visibility: visible;
    }
    /*  */

    /* filter */
    .filter{
        max-width: 100%;
    }

    .filter__top-block{
        padding: 15px 20px;
    }

    .filter__form-block{
        padding: 15px 20px;
    }

    .filter__form-buttonWrap{
        max-width: 240px;
    }

    .filter__form-button{
        font-size: 18px;
    }
    /*  */

    /* hobby page */
    .hobby__title{
        font-size: 26px;
    }

    .hobby__close-button img{
        width: 24px;
        height: 24px;
    }

    .hobby__info{
        padding: 0 0 30px 0;
    }

    .hobby__details{
        margin-bottom: 55px;
    }

    .hobby__details-image{
        margin-bottom: 30px;
    }

    .hobby__details-text{
        font-size: 16px;
        margin-bottom: 20px;
    }

    .hobby__discussion-title{
        margin-bottom: 15px;
    }

    .hobby__discussion-subtitle{
        margin-bottom: 30px;
    }
    /*  */

    .up-button{
        width: 60px;
        height: 60px;
    }

    .up-button img{
        width: 24px;
        height: 24px;
    }
}

@media(max-width: 475px) {
    /* hobbies */
    .hobbies__items {
        grid-template-columns: repeat(1, 1fr);
    }

    .hobbies__filter-button,
    .hobbies__show-button{
        font-size: 16px;
        max-width: 180px;
    }
    /*  */

    /* hobby page */
    .hobby__info-block{
        flex-direction: column;
        align-items: flex-start;
    }
    /*  */
}